---
layout: default
---

<section class="home">

  <section class="home-intro">

    <div class="intro-content">

      {{ content }}

    </div>

    <div class="intro-photo">
      <img
        src="{{ '/assets/images/philip.jpg' | relative_url }}"
        alt="Philip Luke K"
      >
    </div>

  </section>

  <section class="updates-section">
  <h2 class="updates-title updates-title">What's New</h2>

  <div class="updates-container">
    {% assign sorted_updates = site.updates | sort: 'date' | reverse %}
    {% for update in sorted_updates limit: 6 %}
    <div class="update-row">
      <div class="update-date">
        {% if update.format == "month_year" %}
          {{ update.date | date: "%B %Y" }}
        {% else %}
          {{ update.date | date: "%b %d, %Y" }}
        {% endif %}
      </div>
      <div class="update-description">
        {{ update.description }} 
        <a href="{{ '/updates/' | relative_url }}" class="read-more">Read more</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- <a href="{{ '/updates/' | relative_url }}" class="more-updates-box">
    Click for more updates
  </a> -->
  <a href="{{ '/updates/' | relative_url }}" class="updates-link-text">
  View all updates <span>&rarr;</span>
</a>
</section>

</section>

